{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('/build/auth.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %}Sign up!{% endblock %}

{% block body %}
    <div class="waveWrapper waveAnimation">
        <div class="waveWrapperInner bgTop">
            <div class="wave waveTop"
                 style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
        </div>
        <div class="waveWrapperInner bgMiddle">
            <div class="wave waveMiddle"
                 style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
        </div>
        <div class="waveWrapperInner bgBottom">
            <div class="wave waveBottom"
                 style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
        </div>
    </div>

    <h1><a href="/" style="font-weight: 200;">CLOUD - VITAE</a></h1>
    <h3>ELEVATE YOUR CAREER AND PROVE YOU’RE QUALIFIED</h3>

    <div class="choices-container">
        <div class="card">
            <h2>SIGN UP</h2>
            {{ form_start(registrationForm) }}
            {{ form_errors(registrationForm.email) }}
            <div class="form-container">
                <h4>E-Mail</h4>
                {{ form_widget(registrationForm.email) }}
                <h4>Password</h4>
                {{ form_widget(registrationForm.plainPassword) }}
                <h4>Repeat Password</h4>
                {{ form_widget(registrationForm.repeatPlainPassword) }}
                <div class="form-element">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    <label class="h7">I agree to the <a href="/legal" target="_blank">Terms and Conditions</a></label>
                </div>
            </div>
            {% if registrationError is defined %}
                <div class="error">{{ registrationError }}</div>
            {% endif %}
            <button type="submit" class="button raise">
                Get your CV now!
            </button>
            {{ form_end(registrationForm) }}
            <p>Already have an account? <a href="/login" style="color: #8000FF">Sign IN</a></p>
            {% for flash_error in app.flashes('verify_email_error') %}
                {{ dump(flash_error) }}
            {% endfor %}
        </div>
    </div>

{% endblock %}
